<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Shop Inventory Management</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/s.png" rel="icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">


  </head>

  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
          <h1 class="text-light"><a href="/"><span>Shop Inventory Management</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " href="/">Home</a></li>
 <li class="dropdown"><a><span>R E C O R D S</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/show">Category Records</a></li>
              <li><a href="/show_items">Item Records</a></li>
                  <li><a href="/show_catsales">Sales Records</a></li>
            </ul>
          </li>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <main id="main">

      <!-- ======= Breadcrumbs Section ======= -->
      <section class="breadcrumbs">
        <div class="container">

          <div class="d-flex justify-content-between align-items-center">
            <h2>RECORDS</h2>

          </div>

        </div>
      </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
        <div class="container">
          <div >
        </section>





<form method="POST" class="post-form" action="/update_items/{{shop_item.id}}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Update Item Details</h3>
            </div>
        </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Item Name :</label>
        <div class="col-sm-4">
            <input type="text" name="item_name" id="id_item_name" required maxlength="20" value="{{ shop_item.item_name }}"/>
        </div>
    </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price per Unit :</label>
        <div class="col-sm-4">
            <input type="text" name="price_per_unit" id="id_price_per_unit"  value="{{ shop_item.price_per_unit }}"/>
        </div>
        </div>
       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Item Quantity :</label>
        <div class="col-sm-4">
            <input type="text" name="quantity" id="id_quantity" required maxlength="20" value="{{ shop_item.quantity }}"/>
        </div>
    </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Item Category :</label>
        <div class="col-sm-4">
            <input type="text" name="cat_gar" id="id_cat_gar" required maxlength="30" value="{{ shop_item.cat_gar }}"/>
        </div>
    </div>

            <button type="submit" class="btn btn-success">Update</button>
        </div>
        </div>
    </div>
</form>



    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">





      <div class="container py-4">
        <div class="copyright">
          © Copyright <strong><span>VARUN</span></strong>. All Rights Reserved
        </div>

      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>
    <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/assets/js/main.js"></script>



  </body></html>